body {
  background-color: rgb(156, 141, 217);
}
.api-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
  margin: auto;
}
.product {
  list-style-type: none;
  /* border: 1px solid black; */
  background-color: rgb(251, 249, 252);
  font-weight: 600;
  border-radius: 10px;
  padding: 15px;


}
#productList {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

@media screen and (max-width:750px){
    #productList{
    grid-template-columns:repeat(3,1fr);
    }
    
}
@media screen and (max-width:400px){
    #productList{
    grid-template-columns:1fr;
    }
    
}